<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    This Website is in build phase thanks
    <ul>
        <li>Nitesh Rijal</li>
        
    </ul>
    <img src="https://scontent.fktm1-2.fna.fbcdn.net/v/t1.6435-9/67061436_1298409086989612_7104328120395628544_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=19026a&_nc_ohc=5UeJTkIBDFoAX84QAfi&_nc_ht=scontent.fktm1-2.fna&oh=39ec64dbaf6e599a111836550a2b7f2d&oe=618D989F" alt="">
    </body>
</html>